<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
    <!--<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=visualization&key=AIzaSyAxQ4l5-Ta0ZV8q0m4YWFoanYyzabbQkxA"></script>-->
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxQ4l5-Ta0ZV8q0m4YWFoanYyzabbQkxA&libraries=visualization">
    </script>
    <script type="text/javascript">
      var map, pointarray, heatmap;

      function initialize() {
        var mapOptions = {
          center: { lat: 35.7806, lng: -78.6389},
          zoom: 12
        };

        var map = new google.maps.Map(document.getElementById('map_canvas'),
            mapOptions);

        assaultData = []

        var coordinates = {{ assaults|tojson }};

        for(var i = 0; i < coordinates; i++) {
            var coordinate = new google.maps.LatLng(coordinates[i][0], coordinates[i][1])
            assaultData.push(coordinate)
        }


        var pointArray = new google.maps.MVCArray(assaultData);

        heatmap = new google.maps.visualization.HeatmapLayer({
          data: pointArray
        });

        heatmap.setMap(map);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
    <div id='map_canvas'></div>
  </body>
</html>