<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxQ4l5-Ta0ZV8q0m4YWFoanYyzabbQkxA&libraries=visualization">
    </script>
    <script type="text/javascript">
      var coordinates = {{ assaults|tojson }};
      var crash_c = {{ crashes|tojson }};

      function initialize() {
        var myLatlng = new google.maps.LatLng(crash_c[0][0], crash_c[0][1]);
        var mapOptions = {
          zoom: 12,
          center: myLatlng
        }

        var assaultData = []


//        for(var i=0; i < coordinates.length; i++) {
//            assaultData.push(new google.maps.LatLng(coordinates[i][0], coordinates[i][1]))
//        }

        for(var i= 0; i < crash_c.length; i++) {
                assaultData.push(new google.maps.LatLng(coordinates[i][0], coordinates[i][1]))
        }

        var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

        var pointArray = new google.maps.MVCArray(assaultData);

        heatmap = new google.maps.visualization.HeatmapLayer({
          data: pointArray,
          radius: 10
        });

        heatmap.setMap(map);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
<div id="map-canvas"></div>
  </body>
</html>